body {
    margin: 0;
    font-family: "SF Pro Text", sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-card {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
    width: 320px;
    border-radius: 40px;
    padding-bottom: 24px;
    overflow: hidden;
    backdrop-filter: blur(32px);
    box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.04),
        0 63px 63px 0 rgba(0, 0, 0, 0.04),
        0 142px 85px 0 rgba(0, 0, 0, 0.02),
        0 252px 101px 0 rgba(0, 0, 0, 0.01),
        0 393px 110px 0 rgba(0, 0, 0, 0);
    background: rgba(252, 252, 252, 0.95);
}

.profile-card__photo {
    display: block;
    width: 100%;
    height: 337px;
    object-fit: cover;
    border-radius: 32px;
}

.profile-card__header {
    margin-top: 18px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.profile-card__header-top {
    display: flex;
    align-items: center;
    gap: 6px;
}


.profile-card__name {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.profile-card__verified {
    width: 24px;
    height: 24px;
    background-image: url(../card/images/icon-verification.svg);
}

.profile-card__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #767676;
}

.profile-card__bottom {
        margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.profile-card__stats {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;

}

.profile-card__stat-value {
    font-size: 13px;
    color: #6b7280;
}

.profile-card__button {
    border: 1px solid rgba(24, 24, 24, 0.03);
    border-radius: 32px;
    padding: 11px 22px;
    width: 109px;
    height: 44px;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #181818;
    box-shadow: inset 0 1px 6px 0 #ffffff, inset 0 -2px 4px 0 rgba(137, 137, 137, 0.08);
    background: #efefef;
}