:root {
    /* Светлая тема */
    --bg-body: #f5f5f5;
    --card-bg: rgba(252, 252, 252, 0.95);
    --card-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.04),
        0 63px 63px 0 rgba(0, 0, 0, 0.04),
        0 142px 85px 0 rgba(0, 0, 0, 0.02),
        0 252px 101px 0 rgba(0, 0, 0, 0.01),
        0 393px 110px 0 rgba(0, 0, 0, 0);
    --text-primary: #181818;
    --text-secondary: #767676;
    --text-accent: #ffffff;
    --btn-bg: #efefef;
    --btn-border: rgba(24, 24, 24, 0.03);
    --btn-shadow: inset 0 1px 6px 0 #ffffff,
        inset 0 -2px 4px 0 rgba(137, 137, 137, 0.08);
    --icon-filter: none;
}

/* Тёмная тема */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-body: linear-gradient(135deg, #1d1d1d 0%, #252525 100%);
        --card-bg: rgba(47, 47, 47, 0.95);
        --card-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
            0 42px 25px 0 rgba(0, 0, 0, 0.05),
            inset 0 0 12px 4px rgba(255, 255, 255, 0.01);
        --text-primary: #ffffff;
        --text-secondary: #aaaaaa;
        --text-accent: #ffffff;
        --btn-bg: #343434;
        --btn-border: 1px solid rgba(24, 24, 24, 0.05);
        --btn-shadow: inset 0 1px 6px 0 rgba(255, 255, 255, 0.07),
            inset 0 -2px 4px 0 rgba(45, 45, 45, 0.2),
            0 0 4px 0 rgba(0, 0, 0, 0.2);
        --icon-filter-plus: brightness(0) invert(1);
    }

    .profile-card__photo {
        content: url('images/profile-image-dark.jpg');
    }
}

body {
    margin: 0;
    font-family: "SF Pro Text", sans-serif;
    background: var(--bg-body);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background 0.4s ease;
}

.profile-card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 320px;
    border-radius: 40px;
    padding-bottom: 24px;
    overflow: hidden;
    backdrop-filter: blur(32px);
    box-shadow: var(--card-shadow);
    background: var(--card-bg);
    box-sizing: border-box;
    transition: all 0.4s ease;
    border: 1px solid transparent;
}

@media (prefers-color-scheme: dark) {
    .profile-card {
        backdrop-filter: blur(32px);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
            0 42px 25px 0 rgba(0, 0, 0, 0.05),
            inset 0 0 12px 4px rgba(255, 255, 255, 0.01);
    }
}

.profile-card__photo {
    display: block;
    width: calc(100% + 60px);
    height: 337px;
    object-fit: cover;
    border-radius: 32px;
    margin: -30px -30px 10px;
}

.profile-card__header {
    margin-top: 18px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.profile-card__header-top {
    display: flex;
    align-items: center;
    gap: 6px;
}

.profile-card__name {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-primary);
}

.profile-card__verified {
    width: 24px;
    height: 24px;
    background-image: url(../card/images/icon-verification.svg);
}

.profile-card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-secondary);
    margin: 8px 0 0;
}

.profile-card__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-card__stats {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
    margin-right: 16px;
}

.profile-card__stat {
    display: flex;

}

.profile-card__stat-value {
    font-size: 17px;
    font-weight: 600;
    color: var(--text-primary);
}

.profile-card__link {
    border: 1px solid var(--btn-border);
    border-radius: 32px;
    padding: 13px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-bg);
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: var(--text-primary);
    box-shadow: var(--btn-shadow);
    transition: all 0.3s ease;
}

.profile-card__stat:nth-child(1)::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background: url('images/icon-users.svg') no-repeat center / contain;
    filter: var(--icon-filter);
}

.profile-card__stat:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background: url('images/icon-stack.svg') no-repeat center / contain;
    filter: var(--icon-filter);
}

.profile-card__link::after {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url('images/icon-add.svg') no-repeat center / contain;
    filter: var(--icon-filter-plus);
}

.profile-card__link:hover {
    transform: translateY(-1px);
}